.scrollable{
  display: block;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5) !important; 
}

.hidden {
  display: none !important;
}

.invis {
  opacity: 0 !important;
}

.top-left {
  z-index: 102;
  position: fixed;
  top: 0;
  left: 0;
}

.head {
  margin-top: 1.35em;
}

.segmentControl {
  margin-bottom: 0.35em;
}